{% extends "base.html" %}

{% load static %}

{% block main_content %}
<main class="container mt-5">
    <div class="text-center mb-5">
        <h1 class="display-4 font-weight-bold text-primary">Добре дошли в Art Puppet World!</h1>
        <p class="lead text-muted">
            Кукленото изкуство е философия, емпатия към света и вдъхновение! То е тих пътеводител и учител в опознаването на света и човешките ценности. Вярваме, че всяка малка крачка в тази посока е бъдеща голяма крачка за обществото.
        </p>
        <hr class="my-4">
    </div>

    <section class="artist-info mt-5">
        <div class="row">
            <div class="col-md-6 mb-4">
                <img src="{% static 'media/logos/hand-puppet-show-kids.jpg' %}" alt="Puppet Art" class="img-fluid rounded shadow-lg">
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h3 class="mb-4 text-secondary">Запознайте се със света на куклите, Вашия свят на изкуството!</h3>
                <p class="text-justify">
                    С над 10 години опит в индустрията на кукленото изкуство, нашият екип съчетава креативност, прецизност и страст във всяко представление. Ние се гордеем с многобройните сертификати и награди, които сме получили, и се ангажираме с непрекъснато обучение и професионално развитие.
                </p>
                <p class="font-weight-bold text-primary">
                    Вижте изумителните ни куклени представления в действие!
                </p>
                <a href="#" class="btn btn-outline-primary btn-lg mt-3">Разгледайте нашите представления</a>
            </div>
        </div>
    </section>

    <section class="certificates mt-5 text-center">
        <div class="row">
            <div class="col-md-12">
                <h3 class="mb-4 text-primary">Нашите Сертификати и Награди</h3>
                <p class="text-muted">
                    Нашият екип притежава множество сертификати и награди в областта на кукленото изкуство. Ние постоянно се усъвършенстваме и се стремим да предоставяме най-високо качество на представления и обучение на нашата публика.
                </p>
            </div>
        </div>
    </section>
</main>
{% endblock %}
