{% extends "base.html" %}

{% load static %}

{% block main_content %}
    <link rel="stylesheet" href="{% static 'css/account/profile.css' %}">

    <body class="p-3 m-0 border-0 bd-example m-0 border-0">
        <main class="container mt-4">
            <section class="section">
                <h1 class="section-title text-left">Профил на {{ request.user.full_name }}</h1>
                <hr>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="hidden lg:block">
                            <nav class="woocommerce-MyAccount-navigation lg:mt-12 aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-offset="0" data-aos-duration="500">
                                <ul class="lg:w-fit">
                                    <br>
                                     <a class="text-decoration-none" href="#">
                                        <i class="fa-light fa-folder-open fa-2x" style="color: #000000; margin-right: 5px;"></i>
                                        <span class="ml-2" style="font-size: 2rem; color: #000000;">Колекция</span>
                                    </a>                                    
                                    <hr>
                                    <a class="text-decoration-none btn-profile" href="{% url 'account:edit_account' pk=request.user.pk %}" id="edit-profile">
                                        <i class="fa-light fa-user-circle fa-2x" style="color: #000000; margin-right: 5px;"></i>
                                        <span class="ml-2" style="font-size: 2rem; color: #000000;">Редактиране</span>
                                    </a> 
                                    <hr>
                                </ul> 
                            </nav>
                        </div>    
                    </div>    
                    <div class="col-lg-8">
                        <div class="profile-container">

                            <div class="profile-picture">
                                    <img src="/media/account_picture/adorable-hand-puppet-show-kids.jpg.jpg" class="img-fluid" alt="{{ request.user.username }}">
                            </div>

                            <div class="profile-info">
                                <h2>{{ object.first_name }} {{ object.last_name }}</h2>
                                <p>Имейл адрес: <strong>{{ request.user.email }}</strong></p>
                                <p>Име: <strong>{{ request.user.first_name }}</strong></p>
                                <p>Фамилия: <strong>{{ request.user.last_name }}</strong></p>
                                <p>Клас: <strong>{{ request.user.profile.grade }}</strong></p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
{% endblock %}