{% extends "base.html" %}

{% block main_content %}
    <section class="vh-100" style="background-color: #9A616D;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    <h2>Password Change Successful</h2>
                                    <p>Your password has been changed successfully. You are still logged in.</p>
                                    <a href="{% url 'account:details_account' pk=request.user.pk %}" class="btn btn-dark btn-lg btn-block">Back to Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
